<div class="border-2 border-gray-400 rounded my-4">
    <form class="py-4" [formGroup]="form" (ngSubmit)="onUpdate()">
        <div class="flex flex-col items-center">
            <h2 class="mb-4">Profile</h2>
            <div class="mb-6">
                <input type="text"
                    class="w-full px-4 py-2 border border-gray-300 rounded focus:border-black focus:border-2 focus:outline-none transition ease-in-out duration-500" 
                    placeholder="Name"
                    formControlName="name">
                    <p class="text-red-600 font-medium mb-2" *ngIf="this.nameNotValid">Plese enter your name</p>
            </div>
            <div class="mb-6">
                <input type="password" 
                    class="w-full px-4 py-2 border border-gray-300 rounded focus:border-black focus:border-2 focus:outline-none transition ease-in-out duration-500" 
                    placeholder="New Password"
                    formControlName="newPassword">
                    <p class="text-red-600 font-medium mb-2" *ngIf="this.newPassNotValid">Plese fill your new Password</p>
            </div>
            <div class="mb-6">
                <input type="password" 
                    class="w-full px-4 py-2 border border-gray-300 rounded focus:border-black focus:border-2 focus:outline-none transition ease-in-out duration-500" 
                    placeholder="Old Password"
                    formControlName="oldPassword">
                    <p class="text-red-600 font-medium mb-2" *ngIf="this.oldPassNotValid">Plese fill your old Password</p>
            </div>
            <div>
                <button type="button" type="submit" class="py-1 px-3 border-2 rounded-full border-gray-100 hover:text-white hover:bg-red-600 duration-300">Update Profile</button>
                <button type="button" (click)="removeUser('2')" class="py-1 px-3 border-2 rounded-full border-gray-100 hover:text-white hover:bg-red-600 duration-300">Remove profile</button>

            </div>
        </div>

    </form>
</div>
