<form flex flex-col justify-between  [formGroup]="form" (ngSubmit)="submit()">
    <input type="text" class="border w-full py-2 px-4 mb-2" placeholder="Task Name" formControlName="title" required>
    <!-- <input type="text" class="border w-full py-2 px-4 mb-2" placeholder="Responsible users"> -->
    <textarea type="text" class="border w-full py-2 px-4 mb-2 h-28" placeholder="Task description" formControlName="taskDescription"></textarea>
    <div>
        <app-user-search></app-user-search>
    </div>
    <div class="flex w-full">
        <button type="button" disabled [class.cursor-not-allowed]="title.errors?.minlength||taskDescription.errors?.minlength" [disabled]="title.errors?.minlength||title.errors?.required||taskDescription.errors?.minlength||taskDescription.errors?.required" [mat-dialog-close]="form.value" type="submit" class="w-1/2 py-2 px-4 bg-blue-600 text-white cursor-not-allowed disabled:bg-blue-300">Add task</button>
        <button [mat-dialog-close] class="w-1/2 py-2 px-4 bg-red-600 text-white">Close</button>
    </div>

    <div *ngIf="title.errors?.required&&title.touched">
        <p class="text-red-600 font-medium mb-2" >Task name and description can't be blank</p>
    </div>
</form>
