<form flex flex-col justify-between  [formGroup]="form" (ngSubmit)="submit()">
    <input type="text" class="border w-full py-2 px-4 mb-2" placeholder="Task Name" formControlName="title" required>
    <textarea type="text" class="border w-full py-2 px-4 mb-2 h-28" placeholder="Task description" formControlName="taskDescription"></textarea>
    
    <div>
        <form>
            <mat-form-field class="example-chip-list">
                <input type="text" placeholder="Choose responsible users" matInput [matChipInputFor]="chipGrid" [formControl]="formControl" [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onOptionSelected($event)">
                  <mat-option *ngFor="let user of filteredUsers | async" [value]="user">
                    {{user.name}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
              <mat-chip-grid #chipGrid>
                <mat-chip *ngFor="let user of selectedUsers" removable (removed)="removeUser(user)">
                  {{user.name}}
                  <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
              </mat-chip-grid>
          </form>
    </div>
    
    <div class="flex justify-between">
        <div>
            <button type="button" disabled [class.cursor-not-allowed]="title.errors?.minlength" [disabled]="title.errors?.minlength||title.errors?.required" [mat-dialog-close]="form.value" type="submit" class="py-2 px-4 bg-blue-600 text-white cursor-not-allowed disabled:bg-blue-300">Edit task</button>
            <button [mat-dialog-close] class="py-2 px-4 bg-red-600 text-white">Close</button>
        </div>
        <div>
            <button (click)="deleteTask()" [mat-dialog-close] class="py-2 px-4 bg-red-600 text-white">Delete</button>
        </div>
    </div>
    <div *ngIf="title.errors?.required&&title.touched">
        <p class="text-red-600 font-medium mb-2" >Task name can't be blank</p>
    </div>
</form>
