<header class="bg-gray-200">
    <div class="flex justify-between pt-7 pb-7 container mx-auto">
      <a routerLink="/"><h2 class="font-bold text-2xl">PM Logo</h2></a>
      <nav>
        <ul class="flex space-x-2">
          <li><a routerLink="/sign-in" class="py-1 px-3 border-2 rounded-full border-gray-100 hover:text-white hover:bg-red-600">Login</a></li>
          <li><a routerLink="/sign-up" class="py-1 px-3 border-2 rounded-full border-gray-100 hover:text-white hover:bg-red-600">Sign up</a></li>
          <li>
            <app-language-switch></app-language-switch>
          </li>
        </ul>
      </nav>
    </div>
  </header>
